.container {
	display: flex;
	background-color: #00ffff;
}

.subscribe_container {
	max-width: 1400px;
	padding: 5px 15px;
	margin: 30px auto 70px auto;
}

.form {
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 5px;
	display: grid;
	grid-template-columns: 5fr 1fr;
	background-color: #fff;
}

.signUpButton {
	cursor: pointer;
	background-color: #001233;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
	margin: 5px;
	width: 100px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form input {
	outline: none;
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

@media (max-width: 725px) {
	.form {
		display: flex;
		flex-direction: column;
		border: none;
		background-color: #00ffff;
	}

	.form input {
		padding: 15px;
		outline: none;
		background-color: #fff;
	}

	.signUpButton {
		margin: 10px auto;
	}
}
