.container {
	background-color: #fff;
}

.pageContainer {
	margin: auto;
}

.addressBlock_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
}

.addressBlock_container iframe {
	flex: 1;
	width: 100%;
}

@media (max-width: 725px) {
	.addressBlock_container {
		flex-direction: column;
	}
}
